.topMenu {
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    z-index: 1030;
    height: 6rem;
    background: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow .2s linear;
    border-bottom: 1px solid #cccccc;
    width: calc(100% - 270px); 
    padding-left: 20px;
    color: #5D3B46;
    font-size: 32px;
    font-weight: bold;
}

.title{
width: 11vw;
margin-top: 8px;
font-size: 32px;
}

@media (max-width: 860px) {
     .topMenu{
        width: 100vw;
     }

     .title{
      margin-left: 42px;
     }
  }

  @media (max-width:640px) {
   .title{
      width: 9vw;
      margin-left: 50px;
      font-size: 24px;
      }
   }

   @media (max-width:530px) {
      .title{
         font-size: 18px;
         }
      }

@media (max-width:420px) {
   .title{
      display: none;
   }

   .dropdown{
      position:absolute;
      margin-left: 78vw;
   }
}

@media (max-width:390px) {
   .searchBar{
      margin-left: 20px;
   }

}