<div class="sidebar">
    <ul class="menu">
        <li class="menu-item" [class.active]="isActiveRoute('/datos')">
            <a routerLink="/datos">Datos</a>
            <div class="triangle" [class.active]="isActiveRoute('/datos')"></div>
        </li>
        <li class="menu-item" [class.active]="isActiveRoute('/rubros')">
            <a class="nav-link disabled" [routerLink]="['/rubros', idIndicador]" >Rubros</a>
            <div class="triangle" [class.active]="isActiveRoute('/rubros')"></div>
        </li>
    </ul>
</div>