<div>
    <app-top-menu [title]="titleTop()" [needSearchbar]="showSearch()"></app-top-menu>
    <div class="content">
      <button class="toggle-sidebar" (click)="showSidebar()">
        <span class="mdi mdi-menu"></span>
      </button>
      <div #sidebar class="sidebar">
        <button class="hide" (click)="hideSidebar()"> <span class="mdi mdi-arrow-left"></span> </button>
        <app-sidebar (optionSelected)="changeTitleTop($event)" [style.position]="''" [style.display]="''"></app-sidebar>
      </div>
      <div class="router">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>