.container{
    display: flex;
    height: 100%;
    justify-content: flex-start;
    padding: 0;
}
.sidebar {
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
    width: 250px ;

}

.form {
    display: flex;
    padding-top: 7%;
    padding-left: 15px;
    width: 50%;
}

@media(max-width:860px){
    .sidebar {
        display: flex;
        justify-content: center; 
        align-items: flex-end; 
        width: 250px ;
        padding-top: 10%;
    
    }
}

@media(max-width:768px){
    .sidebar {
        display: flex;
        width: 25%;
        padding-top: 10%;
    
    }

    .form {
        display: flex;
        padding-top: 7%;
        padding-left: 15px;
        width: 70%;
        height: 60%;
        overflow-x: scroll;
    }
}