.container{
    display: flex;
    height: 100%;
    justify-content: flex-start
}
.sidebar {
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
    width: 20%;
}

.form {
    display: flex;
    padding-top: 7%;
    padding-left: 15px;
    width: 50%;
}