<div #modal class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div>
        <h3 class="modal-title">{{title}}</h3>
      </div>
      <div class="modal-body">
        <div class="mb-3" *ngIf="showNameInput" >
          <label for="name" class="form-label">{{lblNombre}}<span class="required" *ngIf="isNameRequired">*</span></label>
          <input type="text" class="form-control" id="name" placeholder="{{placeholderNombre}}" [(ngModel)]="name">
        </div>
        <div class="mb-3 form-check form-switch" *ngIf="showSwitchInput">
          <label class="form-check-label" for="activoSwitch">{{ activo ? 'Activo' : 'Inactivo' }}</label>
          <input class="form-check-input" type="checkbox" id="activoSwitch" [(ngModel)]="activo">
        </div>
        <div class="mb-3" *ngIf="showUrlInput">
          <label for="url" class="form-label">{{lblUrl}}<span class="required" *ngIf="isNameRequired">*</span></label>
          <input type="text" class="form-control" id="url" placeholder="{{placeholderUrl}}" [(ngModel)]="url">
        </div>
        <div class="mb-3" *ngIf="showDropdownInput" >
          <label for="opciones" class="form-label">{{lblRubro}}<span class="required" *ngIf="isNameRequired">*</span></label>
          <select class="form-select" id="opciones" [(ngModel)]="selectedOption">
            <option *ngFor="let option of dropdownOptions" [value]="option.value">{{ option.label }}</option>
          </select>
        </div>
        <div class="mb-3" *ngIf="showFileInput">
          <span class="advertenciaFormato">{{advertenciaFormato}}</span><br>
          <label for="file" class="form-label">{{lblFile}} <span class="required" *ngIf="isNameRequired">*</span></label>
          <div class="file-upload-container">
            <input type="file" class="hidden-input" id="file" (change)="onFileSelected($event)">
            <label class="custom-file-button" for="file">
              <i class="fas fa-upload"></i> Cargar Archivo
            </label>
            <span class="nombreArchivo" *ngIf="selectedFileName">{{ selectedFileName }}</span>
          </div>
        </div>
        <div class="linea-final"></div> 
        <div class="botones">
          <button type="button" class="btn btn-cancelar" data-bs-dismiss="modal">Cancelar</button>
          <button (click)="ejecutarAccion(name,url,selectedFileName) "type="button" class="btn btn-guardar" [disabled]="!name">Guardar</button>
      </div>
    </div>
  </div>
</div>
