<div #modal class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div>
        <h3 class="modal-title">{{title}}</h3>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="domainName" class="form-label">{{label}}<span class="required" *ngIf="isDomainNameRequired">*</span></label>
          <input type="text" class="form-control" id="domainName" placeholder="{{placeholder}}" [(ngModel)]="domainName">
        </div>
      </div>
        <div class="linea-final"></div> 
        <div class="botones">
          <button type="button" class="btn btn-cancelar" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-guardar" [disabled]="!domainName">Guardar</button>
      </div>
    </div>
  </div>
</div>