<div class="background">
    <div class="content">
        <div class="left-side">
            <div class="content-left">

                <header>
                    <div class="img-margin">
                        <img src="../../../assets/images/logo-sonora-white.svg" alt="Gobierno del estado de Sonora"
                        srcset="" width="132px" height="64px">
                    </div>
                    <div class="img-margin">
                        <img src="../../../assets/images/oficialia_mayor_blanco.svg" alt="Oficialía Mayor" srcset=""
                            width="125px" height="64px">
                    </div>

                    <div class="img-margin">
                        <img src="../../../assets/images/logo-gobierno-digital-white.svg"
                            alt="Subsecretaría de Gobierno Digital" srcset="" width="131px" height="64px">
                    </div>

                </header>

                <div class="text-left">
                    <h1>SIPINNA</h1>
                    <h2>Portal interno</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere urna sed aliquam
                        accumsan.
                        Nunc vel ligula eros. Nam eget sollicitudin arcu, eget elementum sapien. Ut efficitur ex nec
                        nisi
                        lobortis elementum. Curabitur id ligula at lacus facilisis sodales. Pellentesque porttitor
                        maximus
                        nulla, vel rhoncus ligula vulputate non.
                    </p>
                </div>


                <footer>
                    <div class="footer-info">
                        Centro de Gobierno, Edificio Sonora, Primer Piso, Ala Norte, Blvd. Paseo Río Sonora y Comonfort,
                        Col. Villa de Seris, C.P. 83280, Hermosillo, Sonora, México.
                    </div>
                    <div class="footer-href">
                        <a href="https://www.sonora.gob.mx/gobierno/politicas-de-uso-y-privacidad">Aviso de privacidad</a>
                    </div>
                </footer>

            </div>
        </div>
        <div class="right-side">

            <div class="occult-images">
                <div class="img-margin">
                    <img src="../../../assets/images/oficialia_mayor_blanco.svg" alt="Oficialía Mayor" srcset=""
                        width="125px" height="64px">
                </div>

                <div class="img-margin">
                    <img src="../../../assets/images/logo-gobierno-digital-white.svg"
                        alt="Subsecretaría de Gobierno Digital" srcset="" width="131px" height="64px">
                </div>
            </div>

            <div class="occult-text">
                <h1>SIPINNA</h1>
                <h2>Portal interno</h2>
            </div>
            <h3 class="text-uppercase text-white"><span class="mdi mdi-account-circle-outline"></span> Inicio de Sesión
            </h3>

            <div class="my-3">

                <div class="form-floating outline outline-white">
                    <input type="email" id="email" name="email" value=""
                        placeholder="Ingresa con tu correo electrónico">
                </div>

            </div>

            <div class="mb-3">

                <div class="form-floating outline outline-white">
                    <input type="password" id="password" name="password" value="" required=""
                        placeholder="Ingresa tu contraseña">
                        <div class="forgot"><a class="link-light" href="javascript:void(0);" (click)="openModal()">¿Olvidaste tu contraseña?</a></div>
                </div>
            </div>

            <div class="my-5 text-center">
                <button type="submit" class="btn btn-white btn-lg shadow-sm rounded-pill" (click)="login()">
                    Iniciar Sesión
                </button>
            </div>

            <div class="occult-footer">
                <div class="img-margin">
                    <img src="../../../assets/images/logo-sonora-white.svg" alt="Gobierno del estado de Sonora"
                    srcset="" width="132px" height="64px">
                </div>
            </div>
        </div>
    </div>
</div>