<div class="container div-custom px-5 py-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"><input type="checkbox" disabled></th>
                @for(column of columns; track $index){
                <th scope="col">{{ column.header }}</th>
                }
            </tr>
        </thead>
    
        <tbody class="table-group-divider">
            @for(item of data | paginate: {
                itemsPerPage: pageSize,
                currentPage: page,
                totalItems: total
                }; track $index){
            <tr>
                <td><input type="checkbox" [checked]="selectedItemIndex == $index" (change)="selectItem($index)"></td>
                @for(column of columns; track $index){
                    @if(column.field == 'enlace'){
                        <td>{{ item[column.field] }} </td>
                    } @else {
                        <td>{{ isText(item[column.field]) ? (item[column.field] | uppercase) : item[column.field] }} </td>
                    }
                }
            </tr>
            }
        </tbody>
    </table>
    <pagination-controls previousLabel="" nextLabel="" (pageChange)="page = $event"></pagination-controls>
</div>
