<div class="button-container">
    <app-modal></app-modal>
    <div>
    <button (click)="agregar.emit()" class="button agregar-button">
        <i class="fas fa-plus"></i><span class="button-text">Agregar</span>
    </button>
</div>
<div>
    <button class="button editar-button">
        <i class="fas fa-pen"></i><span class="button-text">Editar</span>
    </button>
</div>
<div>
    <button class="button eliminar-button">
        <i class="fas fa-trash"></i><span class="button-text">Eliminar</span>
    </button>
</div>
</div>
