.button {
    width: 100px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 50px;
    margin: 3px;
}

.required-star {
    color: red;
}

.label-custom {
    color: #adb5bd;
    padding: 0px
}

.cancel-button {
    background-color: #b1b1b1;
}

.cancel-button:hover {
    background-color: #929191;
}

.save-button {
    background-color: #960E53;
}

.save-button:hover {
    background-color: #6d0a3b;
}

input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #555;
  }

  input[type=file]::file-selector-button {
    margin-right: 20px;
    background: #52857c;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
  }