<app-modal></app-modal>
<app-top-menu [title]="'Indicador'" [needSearchbar]="false" [alphanumericOnly]="false"></app-top-menu>
<div class="container">
    <div class="sidebar">
        <app-sidebar-indicator></app-sidebar-indicator>
    </div>
    <div class="table">
        <div class="main-content">
            <div class="content">
                <div class="horizontalView">
                    <app-buttons (agregar)="agregarFunc()" (editar)="editarFunc()" (eliminar)="eliminarFunc()">
                    </app-buttons>
                    <div class="topRight">
                        <app-export-table [tableContent]="tableJson()" [fileName]="'Rubros'"></app-export-table>
                    </div>
                </div>
                <app-table [columns]="tableColumns" [data]="tableData"></app-table>
            </div>
        </div>
    </div>
</div>