.container{
    display: flex;
    height: 100%;
    justify-content: flex-start
}

.sidebar {
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
    width: 20%;
}

.table {
    display: flex;
    padding-top: 4%;
    width: 80%;
}

.main-content {
    flex: 1;
    padding: 30px;
}

.horizontalView {
    display: flex;
    flex-direction: row;
}

.topRight {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    margin-right: 10px;
}