button{
    font-size: large;
    padding-top: 1px;
    padding-bottom: 1px;
    border-color: #b3b3b3;
    color: #b3b3b3;

}

#icon{
    color:darkgreen;
}

p {
    color: #999999;
}

@media (max-width: 678px) {
    p{
       text-align: center;
    }
 }